/* Background color: 3d100b */
/* Alternate Background: #B0463A */
/* Tan (button) color: #e4d0c3 */
/* <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet"> */
/* font-family: 'Beth Ellen', cursive; */
/* font-family: 'Pirata One', cursive; */

body {
  background-color: #3d100b;
}

#mainLogoCol {
  margin-right: auto;
  margin-left: auto;
}

#hogwartsCol {
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

#mainLogo {
  width: 100%;
}
#hogwartsLogo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

#paragraphCol {
  background-color: #e4d0c3;
  border-radius: 25px;
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Beth Ellen', cursive;
}

#buttonCol {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

#sortingButton {
  /* margin-right: auto; */
  margin-left: 10%;
  float: left;
}

#sortingImage {
  float: left;
  border-radius: 10px;
  width: 40%;
}
#sortingImage:hover {

  box-shadow: 10px 10px 5px grey;
}

#gifmagicImage {
  float: right;
  border-radius: 10px;
  width: 40%;
}

#gifmagicImage:hover {
  box-shadow: 10px 10px 5px grey;
}

#gifmagicButton {
  /* margin-left: auto; */
  margin-right: 10%;
  float: right;
  border-radius: 10px;
}

#fakeTextbook {
  font-family: 'Pirata One', cursive;
  font-size: 2rem;
  margin: 20px;
}


.gifButton {
  text-transform: capitalize;
  font-family: 'Pirata One', cursive;
  font-size: 170%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.gifCard {
  background-color: #e4d0c3;
  border-radius: 25px;

  margin-top: 15px;

  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.gifStill {
  width: 80%;
  max-height: 150px;

  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
}
.gifImageDiv {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: auto;
}

.gifRatingDiv {
  margin-top: 15px;
  margin-bottom: auto;
}

#typeSpell {
  margin-top: 20px;
  margin-bottom: 20px;
}

#preparedSpells {
  margin-top: 20px;
  margin-bottom: 20px;
}

#spellInput {
  width: 40%;
  margin-right: 50px;
  margin-left: auto;
}

#prepareSpell {
  display: inline-block;
  margin-right: auto;
}

.spellButtonDivs {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

/* Flip card styles */
flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  border: 1px solid #f1f1f1;
  border-radius: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* margin-left: auto;
  margin-right: auto; */
 }

/* This container is needed to position the front and back side */
 .flip-card-inner {
  border-radius: 25px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* ORIGINAL HOVER CODE */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  margin: auto;
}

/* Style the back side */
.flip-card-back {
  /* background-color: black; */
  color: white;
  font-family: 'Special Elite', cursive;
  transform: rotateY(180deg);
}