/* Background color: 3d100b */
/* Alternate Background: #B0463A */
/* Tan (button) color: #e4d0c3 */
/* <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet"> */
/* font-family: 'Beth Ellen', cursive; */
/* font-family: 'Pirata One', cursive; */

body {
  background-color: #3d100b;
}

#mainLogoCol {
  margin-right: auto;
  margin-left: auto;
}

#hogwartsCol {
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

#mainLogo {
  width: 100%;
}
#hogwartsLogo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

#paragraphCol {
  background-color: #e4d0c3;
  border-radius: 25px;
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Beth Ellen', cursive;
}

#buttonCol {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

#sortingButton {
  /* margin-right: auto; */
  margin-left: 10%;
  float: left;
}

#sortingImage {
  float: left;
  border-radius: 10px;
  width: 40%;
}
#sortingImage:hover {

  box-shadow: 10px 10px 5px grey;
}

#gifmagicImage {
  float: right;
  border-radius: 10px;
  width: 40%;
}

#gifmagicImage:hover {
  box-shadow: 10px 10px 5px grey;
}

#gifmagicButton {
  /* margin-left: auto; */
  margin-right: 10%;
  float: right;
  border-radius: 10px;
}

#fakeTextbook {
  font-family: 'Pirata One', cursive;
  font-size: 2.5rem;
}

